<div id="main">
  <div id="lista">
    <h1 class="titulosec">Lista de Reproducción</h1>
    <div class="cancion">
      <div class="portada">
        <img src="../../assets/articMonkeys.jpg" alt="Artic Monkeys" />
      </div>
      <div class="controlAudio">
        <h1>R U Mine</h1>
        <h2>MP3</h2>
        <audio controls>
          <source src="/assets/media/bit2.mp3" type="audio/mpeg" />
        </audio>
      </div>
    </div>

    <div class="cancion">
      <div class="portada">
        <img src="../../assets/theBeatles.jpg" alt="Artic Monkeys" />
      </div>
      <div class="controlAudio">
        <h1>Hey Jude</h1>
        <h2>MP3</h2>
        <audio controls>
          <source src="/assets/media/bit2.mp3" type="audio/mpeg" />
        </audio>
      </div>
    </div>

    <div class="cancion">
      <div class="portada">
        <img src="../../assets/descarga.jpg" alt="Artic Monkeys" />
      </div>
      <div class="controlAudio">
        <h1>Technology</h1>
        <h2>MP3</h2>
        <audio controls>
          <source src="/assets/media/bit2.mp3" type="audio/mpeg" />
        </audio>
      </div>
    </div>
  </div>

  <section class="publicidad">
    <h1>¿Ansioso por programar?</h1>
    <article>
      <p>
        Explora el maravilloso mundo de la programación y vence tus miedos.
      </p>
      <a href="https://bit.institute" target="_blank">Más Info</a>
    </article>
  </section>
</div>


<!-- <div id="main">
  <div id="lista">
    <h1>Lista de Reproducción</h1>
    <div class="cancion">
      <div class="portada">
        <img src="../../assets/articMonkeys.jpg" alt="Artic Monkeys" />
      </div>
      <div class="controlAudio">
        <h1>Song 1</h1>
        <h2>MP3</h2>
        <audio controls>
          <source src="../../assets/media/bit2.mp3" type="audio/mpeg" />
        </audio>
      </div>
    </div>
  </div>

  <section class="publicidad">
    <h1>¿Ansioso por programar?</h1>
    <article>
      <p>
        Explora el maravilloso mundo de la programación y vence tus miedos.
      </p>
      <a href="https://bit.institute" target="_blank">Más Info</a>
    </article>
  </section>
</div> -->